extends ../logout_user.pug

block content
    form.form-signin(method="post",action="/admin/users/login")

      h2.form-signin-heading 管理员登陆
         small.pull-right
             a(href="/admin/users/register") 注册
      label.sr-only(for='email') 邮箱
      input.email.form-control(name="email",type='email', placeholder='请输入邮箱...', required='', autofocus='')

      label.sr-only(for='password') 密码
      input.password.form-control(name="password",type='password', placeholder='请输入密码...', required='')

      button.btn.btn-lg.btn-primary.btn-block(type='submit') 登录